.list_task {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.12em solid rgb(0, 0, 0);
    border-radius: 0.5em;
    padding: 0.3em;
    margin-bottom: 0.3em;
    width: 300px;
    height: 380px;
    box-sizing: border-box;
    max-width: 300px
}

.Title_task_class {
    font-size: 20 px;
}

.list_task_div_container {
    width: 99%;
    height: 99%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}