* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    
    
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
}

.main_login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    max-width: 500px;
    min-width: 400px;
    max-height: 390px;
    height: 50%;
    min-height: 300px;
    background-color: #f5f5f55d;
    border: 0.1em solid grey;
    border-radius: 0.5em;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.container_form {
    width: 95%;
}

.form_login {
    display: flex;
    flex-direction: column;
}

.input_email {
    background: transparent;
    margin-bottom: 20px;
    height: 30px;
    border: none;
    border-bottom: 0.05em solid #000000;
    border-color: #3f3f3f;
    font-size: 20px;
    /*con outline sacamos el borde que aparece al seleccionar el inpit*/
    outline: 0px;
    transition: border-bottom-width 0.05s;
}
/*con focus detectamos cuando el campo es seleccionado*/
.input_email:focus {
    border-color: #000000;
    border-bottom-width: 2px;
}


/*cuando el anvegador autocompleta con tu correo o algo*/
.input_email:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    -webkit-text-fill-color: #000 !important; /* mantiene color del texto */
    transition: background-color 9999s ease-in-out 0s !important; /* evita parpadeo */
}
/* con esto le cambiamos propiedades al placeholder
.input_email::placeholder {
    color: #440000;
}



.input_password::placeholder {
    color: #440000;
}
*/

/*cuando el anvegador autocompleta con tu correo o algo en password*/
.input_password:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    -webkit-text-fill-color: #000 !important; /* mantiene color del texto */
    transition: background-color 9999s ease-in-out 0s !important; /* evita parpadeo */
}



.input_password {
    background: transparent;
    border: none;
    border-bottom: 0.05em solid #000000;
    margin-bottom: 20px;
    height: 30px;
    font-size: 20px;
    outline: 0px;
    border-color: #3f3f3f;
}

.input_password:focus {
    border-color: #000000;
    border-bottom-width: 2px;
}

.container_button_register {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.buttons_form {
    background-color: #00a108;
    border: 0.05em solid #000000;
    border-bottom-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
    margin-bottom: 15px;
    height: 50px;
    font-size: 20px;
    transition: all 0.05s;
}

.button_register{
    background-color: #3135ff;
    border: 0.05em solid #000000;
    border-radius: 0.5em;
    height: 30px;
    width: 120px;
    transition: all 0.05s;
    margin-left: 10px;
}

.button_register:hover{
    transform: scale(1.01);

}

.buttons_form:hover {
    transform: scale(1.02);
}